/* font style */
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
/* button Style */
.future-btn{
  border-radius: 8px;
  color: rgba(255, 255, 255, 1) ;
  font-size: 16px;
  margin: 0;
  padding: 11px 20px;
  border: none;
}
.btn1{
  background-color:rgba(84, 144, 245, 1) ;
}
.btn2{
  background-color:rgba(9, 161, 92, 1) ;
}
.btn3{
  background-color: rgba(255, 194, 57, 1);
}
.future-box1{
  background-color: rgba(84, 144, 245, 0.2) ;
}
.future-box2{
  background-color: rgba(198, 228, 214, 1);
}
.future-box3{
  background-color: rgba(247, 235, 207, 1) ;
}
/* Header Button */
.nav-btn{
    font-size: 18px;
    color: #006A50;
    border-radius: 8px;
    border: 1px solid #006A50;
    background-color: white;
    padding: 30px 30px;
    height: 52;
}
/* btn style */
.btn-contaner-a{
  margin: 0;
}
.btn-contaner{
    color: #FFFFFF;
    background-color: #006A50;
    border-radius: 8px;
    padding: 17px 34px;
}

.satelite-news-btn{
  background-color: rgba(0, 106, 80, 1);
  color: rgba(255, 255, 255, 1);
  padding: 13px 26px;
  border: none;
  border-radius: 8px;
  margin-top: 32px;
}
.donate-btn{
  font-size: 40px;
  color: rgba(14, 14, 14, 0.8);
  border: 1px solid rgba(14, 14, 14, 0.15);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  padding: 40px;
}
.donate-btn-style{
  background-color: rgba(198, 228, 214, 1);
}

/* navber Disign */
body{
    background-color: #F5F5F5;
} 
.navigation{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 24px 160px;
}
.nav-title{
    font-size: 32px;
}
.banner{
    display: flex;
    background-color: #C6E4D6;
    max-width: 1280px;
    max-height: 560px;
    margin: 20px 160px;
    border-radius: 24px;
    justify-content: space-between;
    align-items: center;
}

.banner-contant{
    padding: 117px 64px 117px 60px;
}
.banner-title{
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}
.banner-sub-title{
    color: rgba(14, 14, 14, 1);
    font-size: 56px;
}
.banner-title,.banner-sub-title{
    margin-top: 16px;
    margin-bottom: 0;
}
.banner-sub-title,.btn-contaner{
    margin-top: 24px ;
}
/* section style */
.card-contan{
  margin: 80px 160px ;
}
.card-contains{
  display: flex;
  gap: 24px;
}
.card-main-contant{
  font-size: 40px;
  color: #0E0E0E;
}
.card-contaner{
  height: 244px;
  width: 302px;
  padding: 24px;
  border-radius: 16px;
  background-color: #FFFFFF;
  border: 1px solid rgba(14, 14, 14, 0.15) ;
}
.card-title{
  font-size: 20px;
  color: rgba(14, 14, 14, 0.8);
}
.card-discription{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
} 
.card-image, .card-title{
  margin-top: 24px;
  margin-bottom: 0;
}
.card-title, .card-discription{
  margin-top: 12px;
}
/* The vision of Future */

.future-title{
  font-size: 40px;
  color:#0E0E0E;
}
.future-discription{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}
.future-sub-title{
  font-size: 20px ;
  color: rgba(14, 14, 14, 0.8);
}
.future-sub-discription{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
}
.future-cards{
  display: flex;
  gap: 24px;
}
.future-card{
  border-radius: 16px;
  padding:32px ;
  height: 325px ;
  width: 411px;
}
.future-contant{
  margin: 80px 160px;
}

.future-sub-title{
  margin-top: 24px;
  margin-bottom:12px; 
}
.about-description{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.8);
  background-image: url("assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: top left;
}
.PM-Bangladesh{
  font-size: 20px;
  color: rgba(14, 14, 14, 0.8);
  margin-top: 12px;
  margin-bottom: 0px;
}
.PM-title{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.6);
  margin-top: 4px;
}
.future-about{
  margin-top:32px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 48px 24px;

}
/* recent part add */
.news-title{
  font-size: 40px;
  color: rgba(14, 14, 14, 1);
}
.news-discription{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}
.news-banner{
  padding: 0px 160px;
}
.news-contant{
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  padding: 48px;
  border-radius: 24px;
  gap: 32px;
  margin-bottom: 24px;
}
.space-img{
  border-radius: 24px;
}
.news-heading{
  font-size: 32px;
  color: rgba(14, 14, 14, 0.8);
  margin-top: 0;
  margin-bottom: 12px;
}

.date{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin-top: 12px;
  margin-bottom: 12px;
}
.donate-section{
  margin: 80px 160px;
}
.donate-title{
  text-align: center;
}
.donate-discription{
  text-align: center;
}
.donate-amount-btn{
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;

}
.donate-section input{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.donatebtn{
  display: block;
  margin: 32px auto;
  
}
.donate-footer, a{
  text-decoration: none;
  display: block;
  margin:32px 124px;
}
.donate-footer > .donatebtn{
  display: flex;
  margin: 24px auto;
}
.donate-footer input{
  border: none;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15) ;
}
.donate-footer input::placeholder{
  text-align: center;
  color: rgba(14, 14, 14, 0.3);
}
.input-subscribe-email{
  display: flex;
}
.input-subscribe-email > .subscribe-btn{
  margin: 0;
}
.subscribe-btn-text{
  border: none;
  background-color: rgba(0, 106, 80, 1);
  padding: 17px 34px ;
  border-radius: 0 10px 10px 0;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
}
.Subscribe-panner{
  background-color: rgba(198, 228, 214, 1) ;
  margin: 80px 160px;
  border-radius: 24px;
}
.sub-subscribe-panner{
  margin: 0;
  padding: 80px 265px;
}
.input-subscribe-email > input{
  height: 54px;
  width: 600px;
  border: none ;
  border-radius: 10px 0 0 10px;
}
.input-subscribe-email > input::placeholder{
  padding: 18px 403px 18px 40px;
  margin: 0;
  color: rgba(14, 14, 14, 0.3);
  font-size: 16px;
  
}
.footer-title{
  text-align: center;
  font-size: 32px;
}
.line{
  color: rgba(14, 14, 14, 0.1);
  width: 1122px;
}
.footer-icon{
  display: flex;
  justify-content: center;
  gap: 23px;
  margin-top: 32px;
  margin-bottom: 50px;
}
footer{
  max-width: 1600px;
  max-height: 226px;

}